<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- assign og_title = page.title | default: site.title -%}
  {%- if page.excerpt -%}
    {%- assign og_desc = page.excerpt | strip_html | strip_newlines | truncate: 200 -%}
  {%- else -%}
    {%- assign og_desc = site.description | strip_html | strip_newlines | strip -%}
  {%- endif -%}
  {%- assign page_url = page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url -%}
  {%- assign og_image = '/images/og-image.jpg' | prepend: site.baseurl | prepend: site.url -%}

  <title>{{ og_title }}</title>
  <meta name="description" content="{{ og_desc }}">
  <link rel="canonical" href="{{ page_url }}">

  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32.png">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ site.baseurl }}/images/favicon.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/apple-touch-icon.png">

  <!-- Link previews: LinkedIn, Slack, Mastodon, X, iMessage -->
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ og_title }}">
  <meta property="og:description" content="{{ og_desc }}">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:image" content="{{ og_image }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:alt" content="Michal Neoral, computer vision researcher at CTU in Prague">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ og_title }}">
  <meta name="twitter:description" content="{{ og_desc }}">
  <meta name="twitter:image" content="{{ og_image }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
<link rel='stylesheet' id='open-sans-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.2.4' type='text/css' media='all' />
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:600italic,600,400,400italic' rel='stylesheet' type='text/css'>
</head>
